<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<!-- Parameters used by tests at runtime -->
	<TestRunParameters>
		<Parameter name="Browser" value="chrome" />
		<Parameter name="UserName" value="anna_chen@914.58.sharelane.com" />
		<Parameter name="UserPassword" value="1111" />
	</TestRunParameters>
</RunSettings>
